/* SMARTPHONE */
@media(min-width:576px){

  body.home header{
    min-height:25.25rem;
  }

  .bg-yellow{
    margin-top: 0;
  }

  img.logo{
    width: 10rem;
  }
  
}

/* SMARTPHONE/TABLET */
@media (min-width: 768px) {
  img.logo{
    width: 10rem;
  }
  

}
/* SMALL SCREENS */
@media (min-width:992px) {
	

}

/* LARGE SCREENS */
@media (min-width: 1200px) {
	body.home header{
    min-height:31.25rem;
  }
}